.product-section {
      background-color: #f8f9fa; /* Light gray background */
      border-radius: 15px;
      padding: 0;
      margin: 0;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    }

.book-image {
    max-width: 250px;
    height: auto;
  }

.star-rating i {
    color: #f8d64e;
}

.summary-box {
      background-color: #f8f9fa;
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    }

.item-img {
      width: 60px;
      height: 80px;
      object-fit: cover;
    }

.total-line {
      font-weight: bold;
      font-size: 1.2rem;
    }